.brush-menu {
  display: flex;
  align-items: stretch;
  border-left: 2px solid lightgray;
}

#simple-brushes {
  display: inline-block;
  padding-top: 40px;
  background-color: white;
}

#simple-brushes .simple-radio {
  width: 100%;
  height: 2em;

  font-size: x-large;

  padding: 0.5em 0.5em;

  border: 0 solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

#ref-brushes {
  display: inline-block;
  flex-grow: 1;
  overflow: auto;
}

#ref-brushes .ant-list-footer {
  align-items: center;
  text-align: center;
}

#ref-brushes .ant-list-footer button {
  max-width: 150px;
}

#ref-brushes .block-radio-content {
  display: flex;
  align-items: center;
  justify-content: start;

  height: 80px;
  padding: 0 16px;
  border-bottom: 1px solid lightgray;
}

#ref-brushes .block-preview {
  display: inline-block;
  height: 50px;
  width: 50px;
}

#ref-brushes .block-summary {
  display: inline-block;
  padding-left: 10px;

  height: 50px;
}

#ref-brushes .block-name {
  font-size: medium;
}

#ref-brushes .block-action-btn-list * {
  font-size: xx-small;
}

#ref-brushes .block-edit-btn {
  width: 6em;
  text-align: center;
}
