#map-editor {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

#map-editor * {
  transition-property: transform, border, opacity;
  transition-duration: 0.2s;
}

#map-editor .map-grid {
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;

  max-height: 100%;

  height: calc(0.8 * (100vh - 64px));
  width: calc(0.8 * (100vh - 64px));

  border: 1px solid black;
  background-color: hsl(0, 0%, 45%);

  transition: transform;
  transition-duration: 0.2s;
}

#map-editor .map-axis {
  flex-grow: 1;

  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column-reverse;
}

#map-editor .map-cell {
  flex-grow: 1;

  display: block;

  border: 1px solid black;

  position: relative;
}

#map-editor .map-block {
  background-color: inherit;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 2;
}

#map-editor .brush-preview-cell-overlay {
  z-index: 10;
  opacity: 0.5;
}

#map-editor .map-block canvas {
  width: 100%;
  height: 100%;
}

#map-editor .selectable {
  border: 0px solid DodgerBlue;
  border-radius: 0px;
}

#map-editor .selectable:hover {
  transform: scale(1.2);
  border: 4px solid DodgerBlue;
  border-radius: 4px;
  z-index: 10;
}

#map-editor .selectable.selected {
  transform: scale(1.2);
  border: 4px solid yellow;
  border-radius: 4px;
  z-index: 6;
}

#map-editor .erasable {
  border: 0px solid red;
}

#map-editor .erasable:hover {
  border: 4px solid red;
}

#map-editor .erasable:hover canvas {
  opacity: 0.3;
}

#map-editor .dragging-src {
  opacity: 0.5;
}

#map-editor .dragging-preview-cell-overlay {
  z-index: 10;
  opacity: 0.5;
}
