#root {
  height: 100vh;
}

.stretch-height {
  height: 100%;
}

.apply-flex-centers {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-div {
  display: flex;
  align-items: stretch;
  position: relative;
}

#property-editor {
  width: 20vw;
}

.brush-menu {
  width: 20vw;
}

#map-editor {
  width: 60vw;
}

#header-editor-entry {
  position: absolute;
  top: 10px;
  left: 10px;
}
