#root {
  height: 100vh;
}

.stretch-height {
  height: 100%;
}

main {
  display: flex;
  align-items: stretch;
}

.property-editor {
  width: 20vw;
}

.brush-menu {
  width: 20vw;
}

#map-editor {
  width: 60vw;
}
